body {
	text-align: center;
	background-color: rgb(205,229,154);
}

h2 {
	padding-bottom: 20px;
}

h1 {
	font-weight: bold;
	font-size: 6.5em;
}

.n-tel {
	margin-left: 150px;
	margin-top: 15px;
	font-weight: bold;

}

.logo-fb{
	margin-top: -10px; 
	margin-bottom: -10px;
}
.navbar-marge {
	margin-left: 50px; 
}

.logo-mini{
	margin-top: -15px; 
	margin-left: -15px;
}

.banière-lg, .banière-md {
	background: url("../img/banière-lg.jpg");
	background-size: cover;
	margin-top: 50px
}

.banière-lg {
	height: 600px;
}

.banière-md {
	height: 400px;
}

.test{
	z-index: 3;
}
.banière-xs {
	background-image: url("../img/banière-xs.jpg");
	background-size: cover;
	height: 300px;
	margin-top: 50px 
}

.sec-img-lg, .sec-img-md, .sec-img-xs {
	background: url("../img/sec-img.jpg");
	background-size: cover;
}

.sec-img-lg {
	height: 600px;
}

.sec-img-md {
	height: 400px;
}

.sec-img-xs {
	height: 300px;
}

.prez {
	padding: 20px;
	height: 500px;
}

.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.logo-lg{
	margin-top: -50px;
	position: absolute;
	z-index: 10;
	margin-left: -160px;

}
.formules {
	background-color: rgb(237,197,143);
}

.formule {
	border: none;
	padding-top: 30px;
	background-color: rgb(237,197,143);
}

.nav-menu {
	margin-top: 50px;
	margin-bottom: 30px;
}

.nav-pills > li + li {
    margin-left: 0;
}

.taille {
	margin-top: 50px;
	height: 460px;
}

.carousel-control.right {
	background-image: none;
}

.carousel-control.left {
	background-image: none;
}

.contenu {
	margin-bottom: 50px;
}

.photothumb {
	border-radius: 6px;
}

.localisation {
	border: 1px solid black;
	padding: 5px;
	margin-top: 30px;
}

.carte {
	margin-top: 20px;
}

@media only screen and (max-device-width: 768px) {
    .parallax {
        background-attachment: scroll;
    }
}

@media screen and (min-width: 768px) and (max-width: 980px) {

h3 {
    font-size: 18px;
  }
}