.navh {
	height: 60px;
}

.banière-lg {
	background: url("../img/banière-lg.jpg");
	background-size: cover;
	height: 600px;
}

.banière-md {
	background-image: url("../img/banière-lg.jpg");
	background-size: cover;
	height: 400px;
	padding-top: 50px; 
}

.banière-xs {
	background-image: url("../img/banière-lg.jpg");
	background-size: cover;
	height: 300px;
	padding-top: 50px; 
}

.n-tel {
	margin: -50px;
}

.navbar-marge {
	margin-left: 50px; 
}

body {
	text-align: center;
}

.formule {
	background-color: rgb(241,161,82);
}

.thumbnail {
	border: none;
	padding-top: 50px;
	background-color: rgb(241,161,82);

}

